.profile-pic {
	width: 100px;
	height: 200px;
	width: 60%;
}

html {
	background-color: #ffccff;
}

body {
	background: none;
	color: #000000;
	font-family: "New Times Roman", Times, serif;
}

strong {
	color: #222324;
}

.navbar {
	background: #9A3BC9;
}

.btn{
	font-weight: 300;
}

.btn-primary {
	background: #e16879
	border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary: active, focus{
	background: #e05164;
	border-color: #e05164;
}

.card {
	border color: #ccc;
}

.card-title {
	color: #9966CC;
	font-weight: 300;
}

.card-block small {
	float: right;
}

.about-me{
	border: none;
	color: #9966CC;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width:100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

.image2 {
	width:100
	height:100;
}

iframe {
	width: 100%;
}